body {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 810px;
  border: 15px solid cyan;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

#greeting-container {
  margin-top: 20px;
}

/* CSS styling to allow image gallery and show of description on hover*/
.gallery {
  position: relative;
  width: 360px;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
}

.gallery:hover .gallery_description{
  visibility: visible;
  border: 2px solid rgb(32, 32, 32);
}

.gallery img {
  width: 100%;
}

.gallery_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}


#info-footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

#footer-image {
  border: 0;
  margin-left: 40px;
  margin-right: 40px;
  width: 100px;
  height: 100px;
}